.header__line {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 32px;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.header__line {
  font-size: 14px;
  line-height: 20px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  background: transparent;
  min-width: 941px;
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 2.2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #1a1a1a;
}

.promo__list {
  display: flex;
  width: 100%;
}

.promo__list {
  padding-right: 14px;
  margin-right: 2px;
}

.promo__list .promo__item a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 4px 12px;
}

.promo__list .promo__item a,
.promo__list .promo__items .promo__item a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  transition: 0.2s ease;
  white-space: nowrap;
  outline: none;
}

.promo__list .promo__items {
  flex: 1 1;
  display: flex;
  justify-content: space-around;
  list-style: none;
  position: relative;
  margin: 12px;
}
