<div class="social__wrapper">
  <a href="#"
    ><div class="social__icon">
      <img
        src="../../../../../assets/VK-logo.svg"
        alt="VK"
        width="24px"
        height="24px"
      /></div></a
  ><a href="#"
    ><div class="social__icon">
      <img
        src="../../../../../assets/facebook.svg"
        alt="Facebook"
        width="32px"
        height="32px"
      /></div></a
  ><a href="#"
    ><div class="social__icon">
      <img
        src="../../../../../assets/instagram.svg"
        alt="Instagram"
        width="32px"
        height="32px"
      /></div></a
  ><a href="#"
    ><div class="social__icon">
      <img
        src="../../../../../assets/youtube.svg"
        alt="Youtube"
        width="32px"
        height="32px"
      /></div></a
  ><a href="#"
    ><div class="social__icon">
      <img
        src="../../../../../assets/Odnoklassniki.svg"
        alt="OK.ru"
        width="24px"
        height="24px"
      /></div
  ></a>
</div>
