<div class="contacts-block">
  <div class="contacts-block-inner">
    <div class="contacts-block-item a1">+375 29 302 10 21</div>
    <div class="contacts-block-item life">+375 25 502 10 21</div>
    <div class="contacts-block-item home">+375 17 302 10 21</div>
    <a href="#" class="contacts-block-item viber">Viber</a
    ><a href="#" class="contacts-block-item telegram">Telegram</a
    ><a href="#" class="contacts-block-item email">Почта</a
    ><button type="button" class="contacts-block-item feedback">
      <div class="" data-testid="">
        <img
          src="../../../../../assets/messenger.svg"
          alt="Message"
          width="18px"
          height="18px"
        />
      </div>
      <span>Написать нам</span>
    </button>
  </div>
</div>
